

<%= gmaps4rails(@json) %>

<section id="search" class="search">
  <div class="row-fluid">
    <div class="span4 offset4">
      <h6>Busca tu tratamiento</h6>
      <div class="input-append">

      <%= search_form_for @q do |f| %>

      <%= f.collection_select :services_id_eq, Service.order(:name), :id, :name %>
       <%= f.submit "Buscar", class: "btn btn btn-inverse"  %>
      <% end %>
      </div>
 
    </div>
  </div>
</section>



<section id='professional' >
    <% @professionals.each do |professional| %>
    <div class="well well large">
      <article class='row-fluid'>
          <div class="pro_thumb span4 offset2">
            <%= link_to (image_tag professional.picture_url(:thumb)), professional %>
          </div>
          <div class="info_pro span5">
            
            <h3><i class="icon-user-md"></i> <%= link_to professional.name, professional, :class => "newcolor" %></h3>
            <ul>

                <h5><%= professional.clinic %></h5>

                <p> </i> Dirección: </strong><%= professional.address %></li>
                
                <p> Años de experiencia: <%= professional.experience %></p>

               

                <% if can? :update, @professional %>
                <%= link_to 'Edit', edit_professional_path(professional), class: "btn btn-default" %>
                <% end %>

                <% if can? :destroy, @professional %>
                <%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                <% end %>
          </div>
         </div> 

      </article>

    <%end%>
    
    
    <% if can? :update, @professional %>
    <%= link_to 'New Professional', new_professional_path, class: "btn btn-info" %>
    <%end%>
</section>
        

  
    
    
  
