
<%= gmaps4rails(@json) %>



<section id='professional' >
    <% @professionals.each do |professional| %>
    <div class="well well large">
      <article class='row-fluid'>
          <div class="pro_thumb span4 offset2">
            <%= link_to (image_tag professional.picture_url(:thumb)), professional %>
          </div>
          <div class="info_pro span5">
            
            <h3><%= link_to professional.name, professional %></h3>
            <ul>
                <li><p> <strong>Dirección: </strong><%= professional.address %></li></p>
                <li><p> <strong>Clinica: </strong><%= professional.clinic %></p></li>
                <li><p> <strong>Años de experiencia: </strong><%= professional.experience %></p></li>
                <%= link_to 'Show', professional, class: "btn btn-default"  %>
                <%= link_to 'Edit', edit_professional_path(professional), class: "btn btn-default" %>
                <%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                
          </div>
         </div> 

      </article>

    <%end%>
    
    <%= will_paginate @professionals, renderer: BootstrapPagination::Rails  %>

    <%= link_to 'New Professional', new_professional_path, class: "btn btn-info" %>
</section>
        



  
    
    
  
