
<%= gmaps4rails(@json) %>



<section id='professional' >
    <% @professionals.each do |professional| %>
    <div class="well well large">
      <article class='row-fluid'>
          <div class="pro_thumb span4 offset2">
            <%= link_to (image_tag professional.picture_url(:thumb)), professional %>
          </div>
          <div class="info_pro span5">
            
            <h3><i class="icon-user-md"></i> <%= link_to professional.name, professional %></h3>
            <ul>

                <li><p> <strong>Clinica: </strong><%= professional.clinic %></p></li>
                <li><p> </i> <strong>Dirección: </strong><%= professional.address %></li></p>
                
                <li><p> <strong>Años de experiencia: </strong><%= professional.experience %></p></li>

                <% if can? :read, @professional %>
                <%= link_to 'Show', professional, class: "btn btn-default"  %>
                <% end %>

                <% if can? :update, @professional %>
                <%= link_to 'Edit', edit_professional_path(professional), class: "btn btn-default" %>
                <% end %>

                <% if can? :destroy, @professional %>
                <%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                <% end %>
          </div>
         </div> 

      </article>

    <%end%>
    
    <%= will_paginate @professionals, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Siguiente'   %>
    <% if can? :update, @professional %>
    <%= link_to 'New Professional', new_professional_path, class: "btn btn-info" %>
    <%end%>
</section>
        

  
    
    
  
