
<%= gmaps4rails(@json) %>

<section id='professional' >
    <% @professionals.each do |professional| %>
      <article class='row-fluid'>
        <div class="pro_thumb span6">
            <%= image_tag professional.picture_url(:thumb) if professional.picture? %>
        </div>
        <div class="info_pro span6">
            <h2><%= professional.name %></h2>
            <ul>
                <li> <strong>Dirección: </strong> <%= professional.address %></li>
                <li> <strong>Clinica: </strong> <%= professional.clinic %></li>
                <li> <strong>Años de experiencia: </strong> <%= professional.experience %></li>
                <li><%= link_to 'Show', professional %></li>
                <li><%= link_to 'Edit', edit_professional_path(professional) %></li>
                <li><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li><%= link_to 'New Professional', new_professional_path %></li>
        </div>
      </article>
    <%end%>
</section>
        



  
    
    
  
