
<%= gmaps4rails(@json) %>




<% @professionals.each do |professional| %>
  <tr>
    <td><%= image_tag professional.picture_url(:thumb) if professional.picture? %></td>
    <td><%= professional.name %></td>
    <td><%= professional.address %></td>
    <td><%= professional.clinic %></td>
    <td><%= professional.experience %></td>
    <td><%= professional.final_price %></td>
    <td><%= professional.market_price %></td>
    <td><%= professional.saving_price %></td>
    <td><%= link_to 'Show', professional %></td>
    <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
    <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professional', new_professional_path %>
