<div class="well well large">
  <article class='row-fluid'>
    
    <div class="pro_thumb span4 offset1">
      
        <%= image_tag(@professional.picture_url, :width => "45%") if @professional.picture.present? %>
    </div>


         <div class="info_pro span6 offset0 "> 
         <h3><i class="icon-user-md"></i> <%= @professional.name %></h3>
         <h3><i class="icon-hospital"></i> <%= @professional.clinic %></h3>

         <p>
           <b>Lugar de la atención:</b>
           <%= @professional.address %>
        </p>
         <p>
          <b>Descripción:</b>
            <%= @professional.information %>
          </p>

          <p>
            <b>Años de Experiencia:</b>
            <%= @professional.experience %>
          </p>

          
           
        </div>


</div>
    </div>
  </div>


          <% if can? :update, @professional %>
          <%= link_to 'Edit', edit_professional_path(@professional), class: "btn btn btn-default" %> 
          <% end %>
          

