<div class="well well large">
  <article class='row-fluid'>
    
    <div class="pro_thumb span4 offset1">
      
        <%= image_tag(@professional.picture_url, :width => "45%") if @professional.picture.present? %>
    </div>


         <div class="info_pro span6 offset0 "> 
         <h3><%= @professional.name %></h3>
         <h4><%= @professional.clinic %></h4>

         <p>
           <b>Lugar de la atención:</b>
           <%= @professional.address %>
        </p>
         <p>
          <b>Descripción:</b>
            <%= @professional.information %>
          </p>

          <p>
            <b>Años de Experiencia:</b>
            <%= @professional.experience %>
          </p>

          
           <p><b>Precio de Mercado:</b>
            <%= number_to_currency (@professional.final_price)%></p>
          

          <p>
            <b>Ahorro:</b>

            <%= money_without_cents_and_with_symbol (@professional.saving_price)%>
          </p>

          <h6>
            Precio Final:
          
            <%= money_without_cents_and_with_symbol @professional.final_price %>
          </h6>

        </div>


</div>
    </div>
  </div>



          <%= link_to 'Back', professionals_path, class: "btn btn btn-default" %> 

          <%= link_to 'Edit', edit_professional_path(@professional), class: "btn btn btn-default" %> 
          

          


  










