<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hm3" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Health.Me" %>">
    <% if content_for?(:title) %>
      <%= content_for(:title) %>
    <% else %>
      <title>Some Default Title</title>
    <% end %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    


  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://localhost:3000"> <img src="http://img.photobucket.com/albums/v234/marfue179/logonavbar_zps051324af.jpg" alt="Health_Me_logo_transparent"></a>
          <%= render 'layouts/navigation' %>
          <ul class="nav">
             <li class="divider-vertical"></li>
             <li><%= link_to "Dentistas", "/professionals" %></li>
             <li class="divider-vertical"></li>
           </ul>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
              <%= render 'layouts/footer' %>
            </div>
          </div>
            <%= yield :scripts %>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
